            {{>navigation}}
            <!-- Site Content Wrapper -->
            <div class="dt-content-wrapper">
                <!-- Site Content -->
                <div class="dt-content">
                    <!-- Page Header -->
                   <div class="dt-page__header">
                    <div class="row">
                        <div class="col-md-6"><h1 class="dt-page__title"><i class="icon icon-users dt-icon-bg bg-orange text-orange"></i> Crear Proveedor</h1></div>
                    </div>
                   </div>
                   
                    <!-- /page header -->

                    <div class="dt-card__body">

                                    <!-- Form -->
                                    <form action="/proveedores" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="id_personal" value="{{ user.id }}">
                                        <div class="form-row">

                                            <div class="col-sm-3 mb-3">
                                                <label>Tipo documento</label>
                                                <select class="form-control" required="" name="tipo_documento_proveedor">
                                                  <option value="">Seleccione un tipo de docuemnto</option>
                                                  <option value="CEDULA">CEDULA</option>
                                                  <option value="NIT">NIT</option>
                                                  <option value="CEXTRANJERIA">CEDULA EXTRANJERIA</option>
                                                  <option value="PASAPORTE">PASAPORTE</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3 mb-3">
                                              <label>No. documento</label>
                                              <input type="text" class="form-control" placeholder="No. documento" name="numero_documento_proveedor" required>
                                            </div>
                                            <div class="col-sm-3 mb-3">
                                             <label>Regimen</label>
                                                <select class="form-control" required="" name="regimen_proveedor">
                                                  <option value="">Seleccione un tipo de regimen</option>
                                                  <option value="Común">Común</option>
                                                  <option value="Simplificado">Simplificado</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3 mb-3">
                                            <label>RUT</label>
                                              <input type="text" class="form-control" placeholder="No. documento" name="rut_proveedor" required>
                                            </div>

                                            <div class="col-sm-6 mb-3">
                                            <label>Razón social</label>
                                              <input type="text" class="form-control" placeholder="Razón social" name="razon_social_proveedor" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-6 mb-3">
                                            <label>Contacto</label>
                                              <input type="text" class="form-control" placeholder="Contacto" name="contacto_proveedor" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Email</label>
                                              <input type="text" class="form-control" placeholder="Email" name="email_proveedor" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-2 mb-3">
                                            <label>Teléfono</label>
                                              <input type="text" class="form-control" placeholder="Teléfono" name="telefono_proveedor" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-1 mb-3">
                                            <label>Ext.</label>
                                              <input type="text" class="form-control" placeholder="Ext." name="extension_proveedor" onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Pais</label>
                                              <input type="text" class="form-control" placeholder="Pais" name="pais_proveedor"required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Departamento</label>
                                              <input type="text" class="form-control" placeholder="Departamento" name="departamento_proveedor" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Ciudad</label>
                                              <input type="text" class="form-control" placeholder="Ciudad" name="ciudad_proveedor" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Dirección</label>
                                              <input type="text" class="form-control" placeholder="Dirección" name="direccion_proveedor" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                             <div class="col-sm-3 mb-3">
                                             <label>Categoría</label>
                                                <select class="form-control" required="" name="categoría_proveedor">
                                                    <option value="">Seleccione categoría</option>
                                                    <option value="HSEQ">HSEQ</option>
                                                    <option value="Mantenimiento">Mantenimiento</option>
                                                    <option value="Transporte">Transporte</option>
                                                    <option value="Operacion">Operación</option>
                                                    <option value="Equipos">Equipos</option>
                                                    <option value="Herr.Superficie">Herr.Superficie</option>
                                                    <option value="Herr.Fondo">Herr.Fondo</option>
                                                    <option value="Quimicos">Quimicos</option>
                                                  
                                                </select>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Área de influencia</label>
                                              <input type="text" class="form-control" placeholder="Área de influencia" name="area_influencia_proveedor" required onkeyup="javascript:this.value=this.value.toUpperCase();"> 
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Banco</label>
                                              <input type="text" class="form-control" placeholder="Banco" name="banco_proveedor" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Tipo de cuenta</label>
                                              <select class="form-control" required="" name="tipo_banco_proveedor">
                                                  <option value="">Seleccione un tipo de cuenta</option>
                                                  <option value="Corriente">Corriente</option>
                                                  <option value="Ahorro">Ahorro</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>No. cuenta</label>
                                              <input type="text" class="form-control" placeholder="No. cuenta" name="numero_cuenta_proveedor" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Pago seguridad social</label>
                                              <input type="text" class="form-control" placeholder="Pago seguridad social" name="seguridad_social_proveedor" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Certificado bancario</label>
                                               <input type="file" class="form-control" name="certificado_bancario_proveedor" required>
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Estado</label>
                                              <select class="form-control" required="" name="estado_proveedor">
                                                  <option value="1">ACTIVO</option>
                                                  <option value="2">INACTIVO</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-12 mb-3">
                                              <label>Actividad económica que provee</label>
                                              <textarea class="form-control" name="actividad_economica_proveedor"></textarea>
                                            </div>

                                            <div class="col-sm-12 mb-3">
                                                <button type="submit" class="btn btn-primary btn-sm" style="float: right">
                                                    Añadir proveedor
                                                </button>
                                                <a href="/proveedores"  class="btn btn-info btn-sm mr-2 mb-2" style="float: right;">Cancelar</a>
                                            </div>

                                        </div>
                                       
                                        
                                    </form>
                                    <!-- /form -->

                                </div>
             
                </div>
                {{>footer}}
            </div>
            <!-- /site content wrapper -->
        </main>
    </div>
</div>
<!-- /root -->

