          {{>navigation}}
           
            <!-- Site Content Wrapper -->
            <div class="dt-content-wrapper">
                <!-- Site Content -->
                <div class="dt-content">
                    <!-- Page Header -->
                   <div class="dt-page__header">
                    <div class="row">
                       <div class="col-md-6">
                        <a href="/agregarfestivo" style="margin-top: 5px;"
                            class="btn-agregar-planeacion btn btn-primary text-white dt-fab-btn">
                            <img src="/icons-planeacion/add.svg" alt="">
                        </a>
                                                            <table class="table-planeacion table table-striped table-bordered table-hover display">
                                                                <thead>
                                                                    <h1>festivos </h1>
                                                                    <tr>
                                                                        <th class="text-center">fecha</th>
                                                                        <th class="text-center"> descripcion </th>
                                                                        <th class="text-center">eliminar</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {{#each consulta}}
                                                                    <tr>
                                                                        <th >{{fecha}}</th>
                                                                        <th >{{descripcion}}</th>
                                                                        <th>  <a href="/eliminarfestivo/{{id_festivo}}" style="margin-top: 5px;"
                                                                            class="btn-agregar-planeacion btn btn-primary text-white dt-fab-btn">
                                                                                <img src="/icons-planeacion/trash.svg" alt="">
                                                                        </a></th>
                                                                    </tr>
                                                                    {{/each}}
                                                                </tbody>
                                                            </table>
                                                            </div>
                       
                        <div class="col-md-6"><h1 class="dt-page__title"><i class="icon icon-calendar dt-icon-bg bg-orange text-orange"></i> Calendario</h1>
                       {{!--  <button  type="button" class="btn btn-primary btn-sm mr-2 mb-2" data-toggle="modal" data-target="#large-modal" style="float: right;">Añadir Evento</button> 
                        --}} <div id="calendar"></div></div>
                    </div>
                   </div>
                     
                </div>
                {{>footer}}
            </div>
            <!-- /site content wrapper -->
        </main>
    </div>
</div>
<!-- /root -->


<!-- Modal -->
                                    <div class="modal fade" id="large-modal" tabindex="-1" role="dialog"
                                         aria-labelledby="model-4"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">

                                            <!-- Modal Content -->
                                            <div class="modal-content">
                                              
                                              <form method="POST" action="#">
                                                <!-- Modal Header -->
                                                <div class="modal-header bg-primary">
                                                    <h3 class="modal-title" id="model-4" style="color:white;">Nuevo evento</h3>
                                                </div>
                                                <!-- /modal header -->

                                                <!-- Modal Body -->
                                                <div class="modal-body">
                                                    <div class="row">
                                                    
                                                        <div class="col-md-6">

                                                         <div class="form-group">
                                                         <label>Descripci&oacute;n</label>
                                                         <input type="text" class="form-control" placeholder="Descripci&oacute;n" maxlength="50" name="nombre_base" required="">
                                                         </div>

                                                         <div class="form-group">
                                                         <label>Fecha inicio</label>
                                                         <input type="text" class="form-control input-group date" id="date-time-picker-1" data-target-input="nearest" placeholder="Fecha inicio" name="fecha_inicio_contrato" data-target="#date-time-picker-1" data-toggle="datetimepicker" required>
                                                         </div>

                                                         <div class="form-group">
                                                         <label>Fecha fin</label>
                                                         <input type="text" class="form-control input-group date" id="date-time-picker-2" data-target-input="nearest" placeholder="Fecha fin" name="fecha_inicio_contrato" data-target="#date-time-picker-2" data-toggle="datetimepicker" required>
                                                         </div>

                                                         </div>

                                                    </div>
                                                </div>
                                                <!-- /modal body -->

                                                <!-- Modal Footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info btn-sm"
                                                            data-dismiss="modal">Cancelar
                                                    </button>
                                                    <button type="submit" class="btn btn-primary btn-sm">Añadir
                                                    </button>
                                                </div>
                                                <!-- /modal footer -->
                                              </form>
                                            </div>
                                            <!-- /modal content -->

                                        </div>
                                    </div>
                                    <!-- /modal -->
