<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">
            <form action="/agregarfestivos" method="POST">
            <div class="row">
                <div class="col">
                    <label>FESTIVO </label>
                    <div class="form-group col-md-12">
                        <input type="date" name="fecha" id="" class="form-control">
                    </div>
                </div>
                <div class="col">
                    <label>DESCRIPCIÓN</label>
                    <div class="form-group col-md-12">
                        <input type="text" name="descripcion" class="form-control" >
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" > AGREGAR </button> 
            </form>
        </div>
    </div>
</div>
