<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">
           
            <form action="/AgregarItem" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Nombre del beneficiario: </label>
                        <select name="id_personal" class="form-control">
                            {{#each consulta}}
                            <option value="{{id}}">{{ nombre_personal }} {{ apellido_personal }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>codigo: </label>
                        <input type="text" name="codigo"  >
                        <input type="hidden"  name="estado" value="no aprobado" >
                        <input type="hidden"  name="id_planeacion" value="{{id_planeacion}}" >
                    </div>  
                </div>
                <div class="form-row">
                     <div class="form-group col-md-6">
                        <label> fecha:</label>
                        <input type="date" name="fecha" >
                    </div>  
                </div> 
                    <button type="submit" > enviar</button>
            </form>
        </div>
    </div>
</div>