<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">
            <form action="/AsignarConsignacionSola" method="POST">
            <div class="form-group col-md-12">
                    <label for="exampleFormControlSelect1">planeacion</label>
                    <select class="form-control" name="id_planeacion" >
                        {{#each consulta}}
                         <option value="{{id_planeacion}}">{{titulo}}</option>
                         {{/each}}
                         <input value="{{id_consignacion}}" type="hidden" name="id_consignacion" >
                         <input value="{{id}}" type="hidden" name="id_personal" >
                    </select>
            </div>

            <button class="btn btn-primary" type="submit"> ASIGNAR </button>
            </form>
        </div>
    </div>
</div>