           
{{>navigation}}

            <!-- Site Content Wrapper -->
            <div class="dt-content-wrapper">
                <!-- Site Content -->
                <div class="dt-content">
                    <!-- Page Header -->
                    <div class="dt-page__header">
                        <h1 class="dt-page__title">{{#each consulta }} BIENVENIDO  {{nombre_personal}}{{apellido_personal}} {{/each}}</h1>
                    </div>
                    <!-- /page header -->
                  <!-- Grid -->
                  <div class="row">
                    <!-- Grid Item -->
                    <div class="col-md-9">
                       
                       <img    src="/images/2ace85_44d1eb2e348d40dabc949bbd02ed1320_mv2.jpg" width="100%">                    
                    </div>
                    <div class="col-md-2">
                       
                     
                      <img    src="/images/señorderecha.png" width="157%">                    
                    </div>
                     

                    <!-- /grid item -->
                  </div>
                  <!-- /grid -->
                </div>
                <!-- /site content -->
                <!-- Footer -->
                
                <!-- /footer -->
            </div>
            <!-- /site content wrapper -->
        </main>
    </div>
</div>
<!-- /root -->