           {{>navigation}}
 
            <!-- Site Content Wrapper -->
            <div class="dt-content-wrapper">
              
                <!-- Site Content -->
                <div class="dt-content">
                    <!-- Page Header -->
                    <div class="dt-page__header">
                      <h1 class="dt-page__title"><i class="icon icon-dashboard dt-icon-bg bg-orange text-orange"></i> Editar unidad de medida</h1>
                    </div>

                    <div class="dt-card__body">

                                    <!-- Form -->
                                    <form action="/editar-unidad-medida/{{unidad_medida.id_unidad_medida}}" method="POST">
                                        <div class="form-row">
                                            <div class="col-sm-4 mb-3">
                                                <label>Descripci&oacute;n</label>
                                                <input type="text" class="form-control" placeholder="Descripci&oacute;n" name="nombre_unidad_medida" required="" value="{{ unidad_medida.nombre_unidad_medida }}" onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>
                                            <div class="col-sm-4 mb-3">
                                                <label>Abreviatura</label>
                                                <input type="text" class="form-control" placeholder="Abreviatura" name="abreviatura_unidad_medida" required="" value="{{ unidad_medida.abreviatura_unidad_medida }}" onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>
                                            <div class="col-sm-4 mb-3">
                                                <label>Estado</label>
                                                <select class="form-control" required="" name="estado_unidad_medida">
                                                <option value="1" {{#Guacamaya unidad_medida.estado_unidad_medida '==' 1}} selected {{/Guacamaya}}>ACTIVO</option>
                                                <option value="2" {{#Guacamaya unidad_medida.estado_unidad_medida '==' 2}} selected {{/Guacamaya}}>INACTIVO</option>
                                                </select>
                                            </div>
                                        </div>
                                       
                                        <button type="submit" class="btn btn-primary btn-sm mr-2 mb-2" style="float: right;">Actualizar</button>
                                        <a href="/unidad-medida"  class="btn btn-info btn-sm mr-2 mb-2" style="float: right;">Cancelar</a>
                                    </form>
                                    <!-- /form -->

                                </div>
                    </div>
                    
                    <!-- /page header -->
                    {{>footer}}
                
                </div>
                <!-- /site content -->
            
            </div>
            <!-- /site content wrapper -->
        </main>
    </div>
</div>
<!-- /root -->