<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}
<div class="dt-content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="dt-page__title"><i class="icon icon-addnew dt-icon-bg bg-orange text-orange"></i> Reporte planeado vs ejecutado</h1>
            </div>
        </div>
        <div class="dt-page-header">
            <div class="col">
                <label>Planeacion</label>
                <div class="form-group col-md-12">
                    <select name="planeacionSelect" id="planeacionSelect" class="form-control">
                        <option value="0">Seleccione una planeacion</option>
                            {{#each planeacion}}
                                <option value="{{id_planeacion}}">{{titulo}}</option>
                            {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <br/>
            <p id="data" style="display:none">{{consulta2}}</p>
            <div class="row">
                <div class="col-md-4">
                    <h1 class="dt-page__title">PLANEADO</h1>
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-md-4">
                    <h1 class="dt-page__title">EJECUCION</h1>
                    <canvas id="myChart1"></canvas>
                </div>
                <div class="col-md-4">
                    <h1 class="dt-page__title">EJECUTADO</h1>
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h1 class="dt-page__title">GENERAL</h1>
                    <canvas id="myChart3"></canvas>
                </div>
                <div class="col-md-4">
                    <h1 class="dt-page__title">GENERAL</h1>
                    <canvas id="myChart4"></canvas>
                </div>
                <div class="col-md-4">
                    <h1 class="dt-page__title">GENERAL</h1>
                    <canvas id="myChart5"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let cv = document.getElementById('myChart'), ctx = cv.getContext('2d'), chart;
    let cv1 = document.getElementById('myChart1'), ctx1 = cv1.getContext('2d'), chart1;
    let cv2 = document.getElementById('myChart2'), ctx2 = cv2.getContext('2d'), chart2;
    
    let ctx3 = document.getElementById('myChart3').getContext('2d'), chart3;
    let ctx4 = document.getElementById('myChart4').getContext('2d'), chart4;
    let ctx5 = document.getElementById('myChart5').getContext('2d'), chart5;

    $("#planeacionSelect").change(function(){   
        $.ajax({
            url: "http://localhost:4000/repor/busqueda",
            method: "POST",
            data: { id_planeacion: $("#planeacionSelect").val() },
            dataType: "json"
        })
            .done(function(msg){
                let data = [0, 0, 0, 0], data1 = [0, 0, 0, 0] , data2 = [0, 0, 0, 0, 0, 0];
                let dataa= []  
                console.log(msg)
                msg.costo_cotizaciontbr.forEach(element => {
                    if(element.tipo == '1') data[0] = element.total;
                    if(element.tipo == '2') data[2] = element.total;
                    if(element.tipo == '3') data[1] = element.total;
                    if(element.tipo == '4') data[3] = element.total;
                });
                Grafica1(data);


                msg.costo_cotizaciontbrc.forEach(element => {
                    if(element.tipo == '1') data1[0] = element.total;
                    if(element.tipo == '2') data1[2] = element.total;
                    if(element.tipo == '3') data1[1] = element.total;
                    if(element.tipo == '4') data1[3] = element.total;
                });

                 Grafica2(data1);

                 msg.ejecutado.forEach(element => {
                    if(element.tipo == '1') data2[0] = element.total;
                    if(element.tipo == '2') data2[2] = element.total;
                    if(element.tipo == '3') data2[1] = element.total;
                    if(element.tipo == '4') data2[3] = element.total;

                });

                 Grafica3(data2);



            });
    });

    /***Grafica1*************************************/
    function Grafica1(data){
        chart = new Chart(ctx, {
            type: 'bar',
            data:{
                datasets: [{
                    data: data,
                    backgroundColor: ['blue', 'yellow','red'],
                    label: 'Cantidad consignacion por estado'
                }],
                labels: ['Equipo', 'Personal' , 'Movilizacion' ,  'Otros']
            },
            options: {responsive: true, 
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        var value = data.datasets[0].data[tooltipItem.index];
                        value = value.toString();
                        value = value.split(/(?=(?:...)*$)/);
                        value = value.join(',');
                        return value;
                    }
                } // end callbacks:
            },
            scales: {
                yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            userCallback: function(value, index, values) {
                                // Convert the number to a string and splite the string every 3 charaters from the end
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);
                                value = value.join(',');
                                return value;
                            }
                        }
                    }]
                }
            }
        });

        cv.onclick = function(evt){
            let activePoint = chart.getElementAtEvent(evt);
            let index = activePoint[0]._index;
            let url = "http://localhost:4000/legalizacion/consignacion_grafica_consignacion"
            if(index == 0) window.location = url + '?estado=confirmado';
            else if(index == 1) window.location = url + '?estado=no aprobado';
            else if(index == 2) window.location = url + '?estado=rechazado';
        };
    }
    /************************************************/

    /***Grafica2*************************************/
    function Grafica2(data1){
        chart1 = new Chart(ctx1, {
            type: 'bar',
            data:{
                datasets: [{
                    data: data1,
                    backgroundColor: ['blue', 'red'],
                    label: 'Legalizadas vs no legalizadas'
                }],
                labels: ['Equipo', 'Personal' , 'Movilizacion' ,  'Otros']
            },
            options: {responsive: true, 
            tooltips: {
                callbacks: {
                        label: function(tooltipItem, data) {
                            var value = data.datasets[0].data[tooltipItem.index];
                            value = value.toString();
                            value = value.split(/(?=(?:...)*$)/);
                            value = value.join(',');
                            return value;
                        }
                } // end callbacks:
                },
                scales: {
                yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            userCallback: function(value, index, values) {
                                // Convert the number to a string and splite the string every 3 charaters from the end
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);
                                value = value.join(',');
                                return value;
                            }
                        }
                    }]
                }
            }
        });

        cv1.onclick = function(evt){
            let activePoint = chart1.getElementAtEvent(evt);
            let index = activePoint[0]._index;
            let url = "http://localhost:4000/legalizacion/consignacion_grafica_legalizada"
            if(index == 0) window.location = url + '?estado=1';
            else if(index == 1) window.location = url + '?estado=0';
        };
    }
    /************************************************/

    /***Grafica3*************************************/
    function Grafica3(data2){
        chart2 = new Chart(ctx2, {
            type: 'bar',
            data:{
                datasets: [{
                    data: data2,
                    backgroundColor: ['blue', 'red'],
                    label: 'Legalizadas vs no legalizadas'
                }],
                labels: ['Equipo', 'Personal', 'Otros', 'Movilizacion', 'Gastos', 'Descuentos']
            },
            options: {responsive: true, 
            tooltips: {
                callbacks: {
                        label: function(tooltipItem, data) {
                            var value = data.datasets[0].data[tooltipItem.index];
                            value = value.toString();
                            value = value.split(/(?=(?:...)*$)/);
                            value = value.join(',');
                            return value;
                        }
                } // end callbacks:
                },
                scales: {
                yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            userCallback: function(value, index, values) {
                                // Convert the number to a string and splite the string every 3 charaters from the end
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);
                                value = value.join(',');
                                return value;
                            }
                        }
                    }]
                }
            }
        });

        cv2.onclick = function(evt){
            let activePoint = chart2.getElementAtEvent(evt);
            let index = activePoint[0]._index;
            let url = "http://localhost:4000/legalizacion/consignacion_grafica_legalizada"
            if(index == 0) window.location = url + '?estado=1';
            else if(index == 1) window.location = url + '?estado=0';
        };
    }
    /************************************************/



    /***Grafica4*************************************/
    function Grafica4(data2){
        chart3 = new Chart(ctx3, {
            type: 'bar',
            data:{
                datasets: [{
                    data: data2,
                    backgroundColor: ['blue', 'red'],
                    label: 'Legalizadas vs no legalizadas'
                }],
                labels: ['facturacion', 'terceros', 'gastos', 'Rent.Bruta', 'Rent.neta', 'imprevisto']
            },
            options: {responsive: true, 
            tooltips: {
                callbacks: {
                        label: function(tooltipItem, data) {
                            var value = data.datasets[0].data[tooltipItem.index];
                            value = value.toString();
                            value = value.split(/(?=(?:...)*$)/);
                            value = value.join(',');
                            return value;
                        }
                } // end callbacks:
                },
                scales: {
                yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            userCallback: function(value, index, values) {
                                // Convert the number to a string and splite the string every 3 charaters from the end
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);
                                value = value.join(',');
                                return value;
                            }
                        }
                    }]
                }
            }
        });
    }
    /************************************************/

    /***Grafica5*************************************/
    function Grafica5(data2){
        chart4 = new Chart(ctx4, {
            type: 'bar',
            data:{
                datasets: [{
                    data: data2,
                    backgroundColor: ['blue', 'red'],
                    label: 'Legalizadas vs no legalizadas'
                }],
                labels: ['facturacion', 'terceros', 'gastos', 'Rent.Bruta', 'Rent.neta', 'imprevisto']
            },
            options: {responsive: true, 
            tooltips: {
                callbacks: {
                        label: function(tooltipItem, data) {
                            var value = data.datasets[0].data[tooltipItem.index];
                            value = value.toString();
                            value = value.split(/(?=(?:...)*$)/);
                            value = value.join(',');
                            return value;
                        }
                } // end callbacks:
                },
                scales: {
                yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            userCallback: function(value, index, values) {
                                // Convert the number to a string and splite the string every 3 charaters from the end
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);
                                value = value.join(',');
                                return value;
                            }
                        }
                    }]
                }
            }
        });
    }
    /************************************************/

    /***Grafica6*************************************/
    function Grafica6(data2){
        chart5 = new Chart(ctx5, {
            type: 'bar',
            data:{
                datasets: [{
                    data: data2,
                    backgroundColor: ['blue', 'red'],
                    label: 'Legalizadas vs no legalizadas'
                }],
                labels: ['facturacion', 'terceros', 'gastos', 'Rent.Bruta', 'Rent.neta', 'imprevisto','descuento']
            },
            options: {responsive: true, 
            tooltips: {
                callbacks: {
                        label: function(tooltipItem, data) {
                            var value = data.datasets[0].data[tooltipItem.index];
                            value = value.toString();
                            value = value.split(/(?=(?:...)*$)/);
                            value = value.join(',');
                            return value;
                        }
                } // end callbacks:
                },
                scales: {
                yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            userCallback: function(value, index, values) {
                                // Convert the number to a string and splite the string every 3 charaters from the end
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);
                                value = value.join(',');
                                return value;
                            }
                        }
                    }]
                }
            }
        });
    }
    /************************************************/
</script>