<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">

            <form action="/actualizarFechas_demov" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{#each consulta}}
                            <input type="text" name="id_mov_item_personal" value="{{ id_mov_item_personal }}">
                            <input type="text" name="id_planeacion" value="{{ id_planeacion }}">
                        {{/each}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Fecha Inicio Desmovilizacion: </label>
                        <input type="date" name="fecha_inicio_demov" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Fecha Final Desmovilizacion: </label>
                        <input type="date" name="fecha_final_demov" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="submit" value="Actualizar" class="btn btn-primary" style="width: 100%">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
