<script src="/resources/node_modules/chart.js/dist/Chart.min.js"></script>

{{>navigation}}

<div class="dt-content-wrapper">
    <div class="dt-content datos-planeacion">
        <div class="dt-page-header">

           <div class="row">
                <div class="col-md-4">
                    <a href="/planeacion/graficas" class="btn btn-danger">Volver a Graficas</a>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a href="/planeacion" class="btn btn-danger">Volver a Planeacion</a>
                </div>
            </div>

            <br>

            <div class="row menu-planeacion">
                <div class="col-md-2">
                    <a href="/planeacion/menu-planeacion/equipo" class="hvr-icon-wobble-horizontal">
                        Equipo <img src="/icons-planeacion/arrow-point-to-right.svg" class="hvr-icon" alt="">
                    </a>
                    <a href="/planeacion/menu-planeacion/personal" class="hvr-icon-wobble-horizontal">
                        Personal <img src="/icons-planeacion/arrow-point-to-right.svg" class="hvr-icon" alt="">
                    </a>
                    <a href="/planeacion/menu-planeacion/movilizacion" class="hvr-icon-wobble-horizontal">
                        Movilizacion <img src="/icons-planeacion/arrow-point-to-right.svg" class="hvr-icon" alt="">
                    </a>
                </div>
                <div class="col-md-10">
                    
                </div>
            </div>

        </div>
    </div>
</div>