           {{>navigation}}
 
            <!-- Site Content Wrapper -->
            <div class="dt-content-wrapper">
              
                <!-- Site Content -->
                <div class="dt-content">
                    <!-- Page Header -->
                    <div class="dt-page__header">
                      <h1 class="dt-page__title"><i class="icon icon-chatbull dt-icon-bg bg-orange text-orange"></i> Editar tipo de pozo</h1>
                    </div>

                    <div class="dt-card__body">

                                    <!-- Form -->
                                    <form action="/editar-tipo-pozo/{{tipo_pozo.id_tipo_pozo}}" method="POST">
                                        <div class="form-row">
                                          <div class="col-sm-2 mb-3"></div>
                                            <div class="col-sm-4 mb-3">
                                                <label>Descripci&oacute;n</label>
                                                <input type="text" class="form-control" placeholder="Descripci&oacute;n" name="nombre_tipo_pozo" required="" value="{{tipo_pozo.nombre_tipo_pozo}}" onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>
                                            <div class="col-sm-4 mb-3">
                                                <label>Estado</label>
                                                <select class="form-control" required="" name="estado_tipo_pozo">
                                                         <option value="1" {{#Guacamaya tipo_pozo.estado_tipo_pozo '==' 1}} selected {{/Guacamaya}}>ACTIVO</option>
                                                         <option value="2" {{#Guacamaya tipo_pozo.estado_tipo_pozo '==' 2}} selected {{/Guacamaya}}>INACTIVO</option>
                                                         </select><br>
                                                <button type="submit" class="btn btn-primary btn-sm mr-2 mb-2" style="float: right;">Actualizar</button>
                                                <a href="/tipo-pozos"  class="btn btn-info btn-sm mr-2 mb-2" style="float: right;">Cancelar</a>
                                            </div>
                                            <div class="col-sm-2 mb-3"></div>
                                        </div>
                                       
                                        
                                    </form>
                                    <!-- /form -->

                                </div>
                </div>
                    
               {{>footer}}
                </div>
                
            </div>
            <!-- /site content wrapper -->
        </main>
    </div>
</div>
<!-- /root -->