            {{>navigation}}
            <!-- Site Content Wrapper -->
            <div class="dt-content-wrapper">
                <!-- Site Content -->
                <div class="dt-content">
                    <!-- Page Header -->
                   <div class="dt-page__header">
                    <div class="row">
                        <div class="col-md-6"><h1 class="dt-page__title"><i class="icon icon-check dt-icon-bg bg-orange text-orange"></i> Crear Item</h1></div>
                    </div>
                   </div>
                   
                    <!-- /page header -->

                    <div class="dt-card__body">

                                    <!-- Form -->
                                    <form action="/item" method="POST">
                                    <input type="hidden" name="id_personal" value="{{ user.id }}">
                                        <div class="form-row">
                                           
                                            <div class="col-sm-3 mb-3">
                                              <label>ID</label>
                                              <input type="text" class="form-control" placeholder="ID" name="numero_item" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>
                                            
                                            <div class="col-sm-3 mb-3">
                                            <label>Descripción</label>
                                              <input type="text" class="form-control" placeholder="Descripción" name="descripcion_item" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Cantidad</label>
                                              <input type="text" class="form-control" placeholder="Cantidad" name="cantidad_item" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Valor</label>
                                              <input type="text" class="form-control" placeholder="Valor" name="valor_item" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Bodega</label>
                                              <input type="text" class="form-control" placeholder="Bodega" name="bodega_item" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Marca</label>
                                              <input type="text" class="form-control" placeholder="Marca" name="marca_item" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                                            </div>

                                            <div class="col-sm-3 mb-3">
                                            <label>Categoria</label>
                                              <select class="form-control" name="categoria_item" required>
                                              <option value="">Seleccione una categoria</option>
                                              <option value="1">HSEQ</option>
                                              <option value="2">MANTENIMIENTO</option>
                                              <option value="3">TRANSPORTE</option>
                                              <option value="4">OPERACIÓN</option>
                                              <option value="5">PERSONAL</option>
                                              <option value="6">TODOS</option>
                                              </select>
                                            </div>
                                          
                                            <div class="col-sm-3 mb-3">
                                            <label>Estado</label>
                                              <select class="form-control" required="" name="estado_item">
                                                  <option value="1">ACTIVO</option>
                                                  <option value="2">INACTIVO</option>
                                                </select>
                                            </div>
                                         
                                            <div class="col-sm-12 mb-3">
                                                <button type="submit" class="btn btn-primary btn-sm" style="float: right">
                                                    Añadir item
                                                </button>
                                                <a href="/item"  class="btn btn-info btn-sm mr-2 mb-2" style="float: right;">Cancelar</a>
                                            </div>

                                        </div>
                                       
                                        
                                    </form>
                                    <!-- /form -->

                                </div>
             
                </div>
                {{>footer}}
            </div>
            <!-- /site content wrapper -->
        </main>
    </div>
</div>
<!-- /root -->

